{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <form action="." method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-lg-12">
        <div class="row mb-3">
          <div class="offset-4 col-4"><b>AMAUN (MT)</b></div>
          <div class="col-4"><b>NILAI/TAN (RM)</b></div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>Crusher Run</b></label>
          <div class="col-4">
            {{ form.crusher_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.crusher_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>Quarry Dust</b></label>
          <div class="col-4">
            {{ form.dust_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.dust_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>Quarry Waste</b></label>
          <div class="col-4">
            {{ form.waste_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.waste_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>1/8"</b></label>
          <div class="col-4">
            {{ form.inch_1_8_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_1_8_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>3/8"</b></label>
          <div class="col-4">
            {{ form.inch_3_8_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_3_8_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>5/8"</b></label>
          <div class="col-4">
            {{ form.inch_5_8_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_5_8_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>3/4"</b></label>
          <div class="col-4">
            {{ form.inch_3_4_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_3_4_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>1"</b></label>
          <div class="col-4">
            {{ form.inch_1_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_1_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>1 1/2"</b></label>
          <div class="col-4">
            {{ form.inch_1_1_2_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_1_1_2_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>2"</b></label>
          <div class="col-4">
            {{ form.inch_2_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_2_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>3" x 5"</b></label>
          <div class="col-4">
            {{ form.inch_3x5_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_3x5_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>6" x 9"</b></label>
          <div class="col-4">
            {{ form.inch_6x9_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.inch_6x9_worth|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-4"><b>Block</b></label>
          <div class="col-4">
            {{ form.block_amount|as_crispy_field }}
          </div>
          <div class="col-4">
            {{ form.block_worth|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-lg-3 mt-3 ml-auto">
        <a href="{{ prev_link }}" class="btn btn-secondary btn-user btn-block">
          Sebelumnya
        </a>
      </div>
      <div class="col-4 col-lg-3 mt-3">
        <button type="submit" class="btn btn-info btn-user btn-block">
          Seterusnya
        </button>
      </div>
    </div>
  </form>

</div>
<!-- /.container-fluid -->
{% endblock content %}