{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <form action="." method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-lg-12">
        {{ form|crispy }}
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-lg-3 mt-3 ml-auto">
        <button type="submit" class="btn btn-info btn-user btn-block">
          Simpan & Seterusnya
        </button>
      </div>
    </div>
  </form>

</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block extra_js %}
<script>
  const initial_rock_stock = document.getElementById('id_initial_rock_stock')
  const rock_production = document.getElementById('id_rock_production')
  const total_rock = document.getElementById('id_total_rock')
  const rock_submission = document.getElementById('id_rock_submission')
  const final_rock_stock = document.getElementById('id_final_rock_stock')

  const set_total_rock = () => {
    let total = (parseFloat(initial_rock_stock.value) || 0) + (parseFloat(rock_production.value) || 0)
    total_rock.value = total
  }

  const set_final_rock_stock = () => {
    let total = (parseFloat(total_rock.value) || 0) - (parseFloat(rock_submission.value) || 0)
    final_rock_stock.value = total
  }

  initial_rock_stock.addEventListener("change", () => {
    set_total_rock()
    set_final_rock_stock()
  })
  rock_production.addEventListener("change", () => {
    set_total_rock()
    set_final_rock_stock()
  })

  total_rock.addEventListener("change", () => {
    set_final_rock_stock()
  })
  rock_submission.addEventListener("change", () => {
    set_final_rock_stock()
  })
</script>
{% endblock extra_js %}