{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <form action="." method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-lg-12">
        {{ form|crispy }}
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-lg-3 mt-3 ml-auto">
        <button type="submit" class="btn btn-info btn-user btn-block">
          Simpan & Seterusnya
        </button>
      </div>
    </div>
  </form>

</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block extra_js %}
<script>
  const initial_stock = document.getElementById('id_initial_stock')
  const external_sources = document.getElementById('id_external_sources')
  const production = document.getElementById('id_production')
  const total = document.getElementById('id_total')
  const sold = document.getElementById('id_sold')
  const final_stock = document.getElementById('id_final_stock')

  const set_total = () => {
    let total_values = (parseFloat(initial_stock.value) || 0) + (parseFloat(external_sources.value) || 0) + (
      parseFloat(
        production.value) || 0)
    total.value = total_values
  }

  const set_final_stock = () => {
    let total_values = (parseFloat(total.value) || 0) - (parseFloat(sold.value) || 0)
    final_stock.value = total_values
  }

  initial_stock.addEventListener("change", () => {
    set_total()
    set_final_stock()
  })
  external_sources.addEventListener("change", () => {
    set_total()
    set_final_stock()
  })
  production.addEventListener("change", () => {
    set_total()
    set_final_stock()
  })

  total.addEventListener("change", () => {
    set_final_stock()
  })
  sold.addEventListener("change", () => {
    set_final_stock()
  })
</script>
{% endblock extra_js %}