{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <form action="." method="post">
    <div class="row">
      <div class="col-lg-12">
        {% csrf_token %}
        {{ owner_form|crispy }}
        {{ form|crispy }}
      </div>
    </div>
    <div class="row">
      <div class="col-4 col-lg-3 ml-auto mt-3">
        <button type="submit" class="btn btn-primary btn-user btn-block">
          Seterusnya
        </button>
      </div>
    </div>
  </form>

</div>
<!-- /.container-fluid -->
{% endblock content %}

{% comment %} {% block extra_js %}
<script>
  var manager = $('#id_manager')
  var lease_holder = $('#id_lease_holder')
  var operator = $('#id_operator')

  manager.change(function () {
    var manager_id = manager.val()
    $.ajax({
      url: `/mine/state-admin/manager/${manager_id}/get-manager-data/`,
      success: function (data) {
        lease_holder.val(data.lease_holder_id)
        operator.val(data.operator_id)
      },
      error: function () {
        lease_holder.val('')
        operator.val('')
      }
    })
  })
</script>
{% endblock extra_js %} {% endcomment %}