{% load static %}
{% load add_get_parameter %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard:dashboard' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="{% static 'jmg.png' %}">
    </div>
    <div class="sidebar-brand-text mx-3">{{ user.get_full_name }}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Kuari
  </div>


  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:quarry_production_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Pengeluaran</span></a>
  </li>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:quarry_royalties_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Royalti</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Lombong
  </div>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:mine_production_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Pengeluaran</span></a>
  </li>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:mine_royalties_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Royalti</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Administrator
  </div>


  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>Super Admin</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_super_admin %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    User
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:super_admin:hq_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG HQ</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:super_admin:admin_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG Admin Negeri</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>JMG HQ</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_jmg_hq %}

  <li class="nav-item ">
    <div class="sidebar-heading">
      Senarai Data
    </div>

    <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:hq:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:hq:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Laporan
  </div>


  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:hq:quarry_input' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:hq:mine_input' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Graph
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:hq:quarry_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:hq:mine_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>JMG State Admin</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_jmg_state_admin %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    User
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:state_admin:state_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai State</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:state_admin:user_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengguna</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'company:state_admin:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Syarikat</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:state_admin:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kuari</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:state_admin:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data
  </div>

  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:state_admin:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:state_admin:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

   <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data Lulus
  </div>

  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:state_admin:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:state_admin:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Laporan
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:quarry_input' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:mine_input' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Graph
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:quarry_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:mine_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>JMG State</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_jmg_state %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    User
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:state:user_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengguna</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'company:state:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Syarikat</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:state:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kuari</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:state:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data
  </div>


  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:state:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:state:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>Industry</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_industry %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    User
  </div>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kuari</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Kemasukan Data
  </div>


  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  <!-- Nav Item - Logout -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account:logout' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Keluar</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->