{% load static %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard:dashboard' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="{% static 'jmg.png' %}">
    </div>
    <div class="sidebar-brand-text mx-3">JMG HQ</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Administrator
  </div>


  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading User -->
  <div class="sidebar-heading">
    User
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:user_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengguna</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Kemasukan Data
  </div>


  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>

  {% comment %}
  <!-- Heading 
            <div class="sidebar-heading">
                Addons
            </div>-->

  <!-- Nav Item - Pages Collapse Menu 
            <li class="nav-item ">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Pages</span>
                </a>
                <div id="collapsePages" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="login.html">Login</a>
                        <a class="collapse-item" href="register.html">Register</a>
                        <a class="collapse-item" href="forgot-password.html">Forgot Password</a>
                        <div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item active" href="blank.html">Blank Page</a>
                    </div>
                </div>
            </li> -->

  <!-- Nav Item - Charts 
            <li class="nav-item">
                <a class="nav-link" href="charts.html">
                    <i class="fas fa-fw fa-chart-area"></i>
                    <span>Charts</span></a>
            </li>-->

  <!-- Nav Item - Tables
            <li class="nav-item">
                <a class="nav-link" href="tables.html">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Tables</span></a>
            </li> --> {% endcomment %}

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Nav Item - Logout -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account:logout' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Logout</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->