{% load static %}
{% load add_get_parameter %}

<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{% url 'dashboard:dashboard' %}">
    <div class="sidebar-brand-icon rotate-n-15">
      <img src="{% static 'jmg.png' %}">
    </div>
    <div class="sidebar-brand-text mx-3">{{ user.get_full_name }}</div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider">

  {% if user.is_executive %}
  <!-- Heading -->
  <div class="sidebar-heading">
    Kuari
  </div>


  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:quarry_production_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Pengeluaran</span></a>
  </li>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:quarry_royalties_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Royalti</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Lombong
  </div>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:mine_production_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Pengeluaran</span></a>
  </li>

  <!-- Nav Item -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:executive:mine_royalties_graph' %}{% add_get %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Royalti</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  <!-- Heading -->
  {% comment %} <div class="sidebar-heading">
    Administrator
  </div> {% endcomment %}

  {% if not user.is_super_admin %}
  <!-- Nav Item - Dashboard -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'dashboard:dashboard' %}">
      <i class="fas fa-fw fa-tachometer-alt"></i>
      <span>Papan Pemuka</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>Super Admin</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_super_admin %}
  <div class="sidebar-heading">
    JMG HQ
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:super_admin:hq_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG HQ</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading User -->
  <div class="sidebar-heading">
    JMG Admin Negeri
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:super_admin:state_admin_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG Admin Negeri</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  {% comment %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    User
  </div>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:super_admin:hq_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai HQ</span></a>
  </li>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:super_admin:hq_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG HQ</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider"> {% endcomment %}
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>JMG HQ</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_jmg_hq %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    JMG Admin Negeri
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:hq:state_admin_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Admin Negeri</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading User -->
  <div class="sidebar-heading">
    JMG Negeri
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:hq:state_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG Negeri</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data Lulus
  </div>

  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:hq:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PKB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:hq:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>RPLB</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <!--<li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>
  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Laporan
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:hq:quarry_report' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:hq:mine_report' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Graf Kuari
  </div>

  <!--<li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:hq:quarry_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari Aktif</span></a>
  </li>-->

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseQuarryActive" aria-expanded="true"
      aria-controls="collapseQuarryActive">
      <i class="fas fa-fw fa-folder"></i>
      <span>Aktif</span>
    </a>
    <div id="collapseQuarryActive" class="collapse" aria-labelledby="headingQuarryActive"
      data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:quarry_active_graph' %}">Semua Negeri</a>
      </div>
    </div>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseQuarryProduction" aria-expanded="true"
      aria-controls="collapseQuarryProduction">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pengeluaran</span>
    </a>
    <div id="collapseQuarryProduction" class="collapse" aria-labelledby="headingQuarryProduction"
      data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:quarry_production_graph' %}">Semua Negeri</a>
        <a class="collapse-item" href="{% url 'report:hq:quarry_production_state_graph' %}">Negeri Pilihan</a>
      </div>
    </div>
  </li>

  {% comment %} <li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:hq:quarry_production_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pengeluaran</span></a>
  </li> {% endcomment %}

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseQuarryWorker" aria-expanded="true"
      aria-controls="collapseQuarryWorker">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pekerja</span>
    </a>
    <div id="collapseQuarryWorker" class="collapse" aria-labelledby="headingQuarryWorker"
      data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:quarry_worker_graph' %}">Semua Negeri</a>
        <a class="collapse-item" href="{% url 'report:hq:quarry_worker_state_graph' %}">Negeri Pilihan</a>
      </div>
    </div>
  </li>

  {% comment %} <li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:hq:quarry_worker_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pekerja</span></a>
  </li> {% endcomment %}

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseQuarryRoyalties" aria-expanded="true"
      aria-controls="collapseQuarryRoyalties">
      <i class="fas fa-fw fa-folder"></i>
      <span>Royalti</span>
    </a>
    <div id="collapseQuarryRoyalties" class="collapse" aria-labelledby="headingQuarryRoyalties"
      data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:quarry_royalties_graph' %}">Semua Negeri</a>
        <a class="collapse-item" href="{% url 'report:hq:quarry_royalties_state_graph' %}">Negeri Pilihan</a>
      </div>
    </div>
  </li>

  {% comment %} <li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:hq:quarry_royalties_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Royalti</span></a>
  </li> {% endcomment %}

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Graf Lombong
  </div>

  <!--<li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:hq:quarry_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong Aktif</span></a>
  </li>-->

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseMineActive" aria-expanded="true"
      aria-controls="collapseMineActive">
      <i class="fas fa-fw fa-folder"></i>
      <span>Aktif</span>
    </a>
    <div id="collapseMineActive" class="collapse" aria-labelledby="headingMineActive" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:mine_active_graph' %}">Semua Negeri</a>
      </div>
    </div>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseMineProduction" aria-expanded="true"
      aria-controls="collapseMineProduction">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pengeluaran</span>
    </a>
    <div id="collapseMineProduction" class="collapse" aria-labelledby="headingMineProduction"
      data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:mine_production_graph' %}">Semua Negeri</a>
        <a class="collapse-item" href="{% url 'report:hq:mine_production_state_graph' %}">Negeri Pilihan</a>
      </div>
    </div>
  </li>

  {% comment %} <li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:hq:mine_production_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pengeluaran</span></a>
  </li> {% endcomment %}

  <li class="nav-item ">
    <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapseMineWorker" aria-expanded="true"
      aria-controls="collapseMineWorker">
      <i class="fas fa-fw fa-folder"></i>
      <span>Pekerja</span>
    </a>
    <div id="collapseMineWorker" class="collapse" aria-labelledby="headingMineWorker" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" href="{% url 'report:hq:mine_worker_graph' %}">Semua Negeri</a>
        <a class="collapse-item" href="{% url 'report:hq:mine_worker_state_graph' %}">Negeri Pilihan</a>
      </div>
    </div>
  </li>

  <!-- Divider -->
  <hr class=" sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>JMG Admin Negeri</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_jmg_state_admin %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    JMG Negeri
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'account:state_admin:state_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai JMG Negeri</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading User -->
  <div class="sidebar-heading">
    Lombong
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <!--<li class="nav-item ">
  <a class="nav-link" href="{% url 'account:state_admin:state_list' %}">
    <i class="fas fa-fw fa-user"></i>
    <span>Senarai State</span></a>
  </li>-->

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:state_admin:lease_holder_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pajakan</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:state_admin:operator_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengusaha</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:state_admin:manager_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengurus</span></a>
  </li>

  <!--<li class="nav-item ">
    <a class="nav-link" href="{# {% url 'quarry:state_admin:list' %} #}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kuari</span></a>
  </li>-->

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:state_admin:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Lombong</span></a>
  </li>


  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Kuari
  </div>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:state_admin:lease_holder_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pajakan</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:state_admin:operator_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengusaha</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:state_admin:manager_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengurus</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:state_admin:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kuari</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Mineral
  </div>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mineral:state_admin:process_factory_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kilang Proses</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mineral:state_admin:manager_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengurus</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data
  </div>

  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:state_admin:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PKB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:state_admin:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>RPLB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mineral:state_admin:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PBKPM</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>
  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data Lulus
  </div>

  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:state_admin:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PKB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:state_admin:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>RPLB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mineral:state_admin:data_list_success' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PBKPM</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <!--<li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>
  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Laporan
  </div>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:quarry_report' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:mine_report' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Graf Kuari
  </div>

  <!--<li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:state_admin:quarry_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Kuari Aktif</span></a>
  </li>-->

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:quarry_production_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pengeluaran</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:quarry_worker_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pekerja</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:quarry_royalties_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Royalti</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <div class="sidebar-heading">
    Graf Lombong
  </div>

  <!--<li class="nav-item">
    <a class="nav-link" href="{# {% url 'report:state_admin:quarry_graph' %} #}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Lombong Aktif</span></a>
  </li>-->

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:mine_production_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pengeluaran</span></a>
  </li>

  <li class="nav-item">
    <a class="nav-link" href="{% url 'report:state_admin:mine_worker_graph' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Pekerja</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>JMG Negeri</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_jmg_state %}
  <!-- Heading User -->
  <!-- <div class="sidebar-heading">
    User
  </div>

  <!-- Nav Item - Senarai Pengguna -->
  <!--<li class="nav-item ">
    <a class="nav-link" href="{% url 'account:state:user_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pengusaha</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{% url 'company:state:list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Pemajak</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{# {% url 'quarry:state:list' %} #}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Kuari</span></a>
  </li>

  <li class="nav-item ">
    <a class="nav-link" href="{# {% url 'mine:state:list' %} #}">
      <i class="fas fa-fw fa-user"></i>
      <span>Senarai Lombong</span></a>
  </li>

  <!-- Divider -->
  <!--<hr class="sidebar-divider">-->

  <!-- Heading -->
  <div class="sidebar-heading">
    Senarai Data
  </div>


  <!-- Nav Item - Kuari -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'quarry:state:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PKB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mine:state:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>RPLB</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'mineral:state:data_list' %}">
      <i class="fas fa-fw fa-gem"></i>
      <span>PBKPM</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <!-- <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li>-->

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_superuser %}
  <!-- Heading -->
  <div class="sidebar-heading">
    <b>Industri</b>
  </div>

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  {% if user.is_manager %}
  <!-- Heading User -->
  <div class="sidebar-heading">
    Kemasukan Data
  </div>

  {% if user.quarrymanager %}
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'quarry:data_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>PKB</span></a>
  </li>
  {% endif %}

  {% if user.minemanager %}
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mine:data_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>RPLB</span></a>
  </li>
  {% endif %}

  {% if user.processmanager %}
  <li class="nav-item ">
    <a class="nav-link" href="{% url 'mineral:data_list' %}">
      <i class="fas fa-fw fa-user"></i>
      <span>PBKPM</span></a>
  </li>
  {% endif %}

  <!-- Divider -->
  <!--<hr class="sidebar-divider">-->

  <!-- Heading -->
  <!--<div class="sidebar-heading">
    Sejarah Penghantaran Penyata
  </div>


  <!-- Nav Item - Kuari -->
  <!--<li class="nav-item">
    <a class="nav-link" href="{# {% url 'quarry:data_list' %} #}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Kuari</span></a>
  </li>

  <!-- Nav Item - Lombong -->
  <!--<li class="nav-item">
    <a class="nav-link" href="{# {% url 'mine:data_list' %} #}">
      <i class="fas fa-fw fa-gem"></i>
      <span>Lombong</span></a>
  </li>

  <!-- Nav Item - Mineral -->
  <!--  <li class="nav-item">
    <a class="nav-link" href="<?= base_url('mineral'); ?>">
      <i class="fas fa-fw fa-gem"></i>
      <span>Mineral</span></a>
  </li> -->

  <!-- Divider -->
  <hr class="sidebar-divider">
  {% endif %}

  <!-- Nav Item - Logout -->
  <li class="nav-item">
    <a class="nav-link" href="{% url 'account:logout' %}">
      <i class="fas fa-fw fa-sign-out-alt"></i>
      <span>Keluar</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider d-none d-md-block">

  <!-- Sidebar Toggler (Sidebar) -->
  <div class="text-center d-none d-md-inline">
    <button class="rounded-circle border-0" id="sidebarToggle"></button>
  </div>

</ul>
<!-- End of Sidebar -->