{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-bordered table-sm">
            <thead class="thead-light">
              <tr>
                <th scope="col"></th>
                <th scope="col" style="text-align: center;">(TAN MATRIK)</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>STOK AWAL BULAN</th>
                <td style="text-align: right;">{{ statistic.initial_rock_stock }}</td>
              </tr>
              <tr>
                <th>PENGELUARAN</th>
                <td style="text-align: right;">{{ statistic.rock_production }}</td>
              </tr>
              <tr>
                <th>JUMLAH</th>
                <td style="text-align: right;">{{ statistic.total_rock }}</td>
              </tr>
              <tr>
                <th>PENYERAHAN</th>
                <td style="text-align: right;">{{ statistic.rock_submission }}</td>
              </tr>
              <tr>
                <th>STOK AKHIR BULAN</th>
                <td style="text-align: right;">{{ statistic.final_rock_stock }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="row">
        {% comment %} <div class="col-4 col-lg-3 mt-3 ml-auto">
          <a href="{{ prev_link }}" class="btn btn-secondary btn-user btn-block">
            Sebelumnya
          </a>
        </div> {% endcomment %}
        <div class="col-4 col-lg-3 mt-3 ml-auto">
          <a href="{{ next_link }}" class="btn btn-info btn-user btn-block">
            Seterusnya
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}