{% extends 'layouts/base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col my-auto">
          <h5>Profil Pengguna</h5>
        </div>

      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-8">
          <table class="table table-bordered table-sm">
            <tbody>
              <tr>
                <th>Nama pengguna</th>
                <td>{{ each_user.username }}</td>
              </tr>
              <tr>
                <th>Emel</th>
                <td>{{ each_user.email }}</td>
              </tr>
              <tr>
                <th>Nama Penuh</th>
                <td>{{ each_user.get_full_name }}</td>
              </tr>
              <tr>
                <th>Negeri</th>
                <td>{{ each_user.profile.get_state_display }}</td>
              </tr>
              <tr>
              <tr>
                <th>Aktif</th>
                <td>
                  {% if each_user.is_active %}
                  <i class="fas fa-check-circle text-success ml-2"></i>
                  {% else %}
                  <i class="fas fa-times-circle text-danger ml-2"></i>
                  {% endif %}
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock content %}