{% extends 'layouts/account/base.html' %}

{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container">

  <div class="card o-hidden border-0 shadow-lg my-5 col-lg-7 mx-auto">
    <div class="card-body p-0">
      <!-- Nested Row within Card Body -->
      <div class="row">
        <div class="col-lg">
          <div class="p-5">
            <div class="text-center">
              <img src="{% static 'jmg-logo.png' %}">
              <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
            </div>

            {% comment %} <?= $this->session->set_flashdata('message'); ?> {% endcomment %}

            <form class="user" method="post" action=".">

              {% csrf_token %}
              {{ form|crispy }}

              {% comment %} <div class="form-group row">
                <input type="text" class="form-control" id="name" name="name" placeholder="Full Name"
                  value="<?= set_value('name'); ?>">
                <?= form_error('name', '<small class="text-danger pl-3">', '</small>'); ?>
              </div>

              <div class="form-group row">
                <input type="text" class="form-control" id="email" name="email" placeholder="Email Address"
                  value="<?= set_value('email'); ?>">
                <?= form_error('email', '<small class="text-danger pl-3">', '</small>'); ?>
              </div>

              <div class="form-group row">
                <input type="password" class="form-control" id="password1" name="password1" placeholder="Password">
                <?= form_error('password1', '<small class="text-danger pl-3">', '</small>'); ?>
              </div>

              <div class="form-group row">
                <input type="password" class="form-control" id="password2" name="password2"
                  placeholder="Repeat Password">
              </div>
              <div class="form-group row">
                <label for="role">Choose role: </label>
                <select class="form-control" id="role" name="role">
                  <option id="1" value="1">Admin (Pegawai JMG HQ)</option>
                  <option id="2" value="2">User (Pegawai JMG HQ)</option>
                  <option id="3" value="3">Admin (Pegawai JMG Negeri)</option>
                  <option id="4" value="4">User (Pegawai JMG Negeri)</option>
                  <option id="5" value="5">Industri (Pelombong)</option>
                </select>
              </div> {% endcomment %}

              <button type="submit" class="btn btn-primary btn-user btn-block">
                Register Account
              </button>
              <hr>
              <div class="text-center">
                <a class="small" href="forgot-password.html">Forgot Password?</a>
              </div>
              <div class="text-center">
                <a class="small" href="{% url 'account:login' %}">Already have an account? Login!</a>
              </div>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

</div>
{% endblock content %}