{% extends 'layouts/base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col">
          <a href="{% url 'mine:state_admin:main_mineral_create' mine.pk %}" class="btn btn-primary">Tambah Mineral
            Utama</a>
          <a href="{% url 'mine:state_admin:side_mineral_create' mine.pk %}" class="btn btn-primary">Tambah Mineral
            Sampingan</a>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">
          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">No</th>
                <th scope="col">Jenis Mineral</th>
                <th scope="col">Kategori</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              {% for main_mineral in main_mineral_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ main_mineral.get_mineral_type_display }}</td>
                <td>Mineral Utama</td>
                <td>
                  <a href="{{ main_mineral.get_edit_url }}" class="badge badge-sm badge-info">Edit</a>
                  <a href="{{ main_mineral.get_delete_url }}" class="badge badge-sm badge-danger">Delete</a>
                </td>
              </tr>
              {% endfor %}
              {% for side_mineral in side_mineral_list %}
              <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ side_mineral.get_mineral_type_display }}</td>
                <td>Mineral Sampingan</td>
                <td>
                  <a href="{{ side_mineral.get_edit_url }}" class="badge badge-sm badge-info">Edit</a>
                  <a href="{{ side_mineral.get_delete_url }}" class="badge badge-sm badge-danger">Delete</a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>

      <div class="row">
        <div class="col-4 col-lg-3 mt-3 ml-auto">
          <a href="{% url 'mine:state_admin:list' %}" class="btn btn-info btn-user btn-block">
            Hantar
          </a>
        </div>
      </div>
    </div>
  </div>

</div>
<!-- /.container-fluid -->
{% endblock content %}