{% extends 'layouts/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <form action="." method="post">
    {% csrf_token %}

    <div class="row">
      <div class="col-lg-12">
        <div class="form-group row">
          <label class="col-6"><b>Jenis Mineral</b></label>
          <div class="col-6">
            {{ form.mineral_type|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Unit Kuantiti</b></label>
          <div class="col-6">
            {{ form.quantity_unit|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Stok Akhir Bulan Lalu</b></label>
          <div class="col-6">
            {{ form.final_stock_last_month|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Pengeluaran Lombong</b></label>
          <div class="col-6">
            {{ form.mine_production|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Jumlah Mineral</b></label>
          <div class="col-6">
            {{ form.total_minerals|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Penyerahan Kepada Pembeli</b></label>
          <div class="col-6">
            {{ form.submission_buyers|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Stok Akhir Bulan Ini</b></label>
          <div class="col-6">
            {{ form.final_stock_this_month|as_crispy_field }}
          </div>
        </div>
        <div class="form-group row">
          <label class="col-6"><b>Gred Hitung Panjang</b></label>
          <div class="col-6">
            {{ form.average_grade|as_crispy_field }}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-4 col-lg-3 mt-3 ml-auto">
        <button type="submit" class="btn btn-info btn-user btn-block">
          Seterusnya
        </button>
      </div>
    </div>
  </form>

</div>
<!-- /.container-fluid -->
{% endblock content %}

{% block extra_js %}
<script>
  var mineral_type = $('#id_mineral_type')
  var quantity_unit = $('#id_quantity_unit')

  mineral_type.change(function () {
    if (mineral_type.val() == 'TIN ORE') {
      quantity_unit.val('KG')
    } else if (mineral_type.val() == 'DIMENSION STONE') {
      quantity_unit.val('M3')
    } else if (mineral_type.val() == 'GOLD') {
      quantity_unit.val('GRAM')
    } else {
      quantity_unit.val('TAN')
    }
  })
</script>
<script>
  const minerals_quantity = document.getElementById('id_minerals_quantity')
  const final_stock_last_month = document.getElementById('id_final_stock_last_month')
  const mine_production = document.getElementById('id_mine_production')
  const total_minerals = document.getElementById('id_total_minerals')
  const submission_buyers = document.getElementById('id_submission_buyers')
  const final_stock_this_month = document.getElementById('id_final_stock_this_month')

  const set_total_minerals = () => {
    let total = (parseFloat(final_stock_last_month.value) || 0) + (parseFloat(mine_production.value) || 0)
    total_minerals.value = total
  }

  const set_final_stock_this_month = () => {
    let total = (parseFloat(total_minerals.value) || 0) - (parseFloat(submission_buyers.value) || 0)
    final_stock_this_month.value = total
  }

  final_stock_last_month.addEventListener("change", () => {
    set_total_minerals()
    set_final_stock_this_month()
  })
  mine_production.addEventListener("change", () => {
    set_total_minerals()
    set_final_stock_this_month()
  })

  total_minerals.addEventListener("change", () => {
    set_final_stock_this_month()
  })
  submission_buyers.addEventListener("change", () => {
    set_final_stock_this_month()
  })
</script>
{% endblock extra_js %}