{% extends 'layouts/base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>

  <div class="card shadow mb-4">
    <div class="card-header py-3">
      <div class="row">
        <div class="col justify-content-end">
          <form action="." method="GET">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search" name="q" autocomplete="off">
              <div class="input-group-append">
                <button type="submit" class="btn btn-primary">Cari Syarikat</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-12">

          <table class="table table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col">#</th>
                <th scope="col">Nama</th>
                <th scope="col">Alamat</th>
                <th scope="col">No. Telefon</th>
                <th scope="col">Aktif</th>
              </tr>
            </thead>
            <tbody>
              {% for company in company_list %}
              <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td><a href="{{ company.get_state_absolute_url }}">{{ company.name }}</a></td>
                <td>
                  {{ company.address1 }}{% if company.address2 %},<br>
                  {{ company.address2 }}{% endif %}{% if company.address3 %},<br>
                  {{ company.address3 }}{% endif %}
                </td>
                <td>{{ company.phone }}</td>
                <td>
                  {% if company.status %}
                  <i class="fas fa-check-circle text-success ml-2"></i>
                  {% else %}
                  <i class="fas fa-times-circle text-danger ml-2"></i>
                  {% endif %}
                </td>
              </tr>
              {% empty %}
              <tr>
                <td colspan="10">Tidak di jumpai</td>
              </tr>
              {% endfor %}
            </tbody>
          </table>

          {% with pagin=page_obj %}
          {% include 'layouts/includes/_pagination.html' %}
          {% endwith %}

        </div>
      </div>
    </div>
  </div>

</div>

{% endblock content %}