{% extends 'layouts/base.html' %}

{% block content %}
<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-4 text-gray-800">{{ title }}</h1>
  

  <div class="row">
    <div class="col-lg-12">

      <a href="{% url 'mine:create' %}" class="btn btn-primary mb-3">Tambah Lombong
        Baru</a>

      <table class="table table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Kod RPLB</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          {% for mine in mine_list %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ mine.code }}</td>
            <td>
              {% if mine.get_last_approval %}
              {% if mine.get_last_approval.admin_approved == True %}
              <span class="text-success">Successful</span>
              {% elif mine.get_last_approval.state_approved == False or mine.get_last_approval.admin_approved == False %}
              <span class="text-danger">Rejected</span>
              <button class="btn btn-sm btn-secondary" data-toggle="modal" data-target="#rejectCommentModal"
                data-mine-id="{{ mine.id }}">
                <i class=" far fa-eye"></i>
              </button>
              {% else %}
              <span class="text-warning">In Process</span>
              {% endif %}
              {% else %}
              <span class="text-info">Draft</span>
              {% endif %}
            </td>
            <td>
              {% if mine.get_last_approval and mine.get_last_approval.state_approved != False and mine.get_last_approval.admin_approved != False %}
              <a href="{{ mine.get_readonly_url }}" class="btn btn-sm btn-secondary">
                <i class="far fa-eye"></i>
              </a>
              {% else %}
              {% comment %} <a href="{{ mine.get_update_url }}" class="btn btn-sm btn-success">Update</a>
              {% endcomment %}
              <a href="{{ mine.get_edit_url }}" class="btn btn-sm btn-info">Edit</a>
              <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#submitQuarryModal"
                data-mine-id="{{ mine.id }}">Submit</button>
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

</div>
<!-- /.container-fluid -->

<!-- Submit Modal-->
<div class="modal fade" id="submitQuarryModal" tabindex="-1" role="dialog" aria-labelledby="submitQuarryModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="submitQuarryModalLabel">Submit this mine</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        Are you sure want to submit this mine?
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
        <form action="#" method="post">
          {% csrf_token %}
          <button type="submit" class="btn btn-primary">Yes</button>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Reject Comment Modal-->
<div class="modal fade" id="rejectCommentModal" tabindex="-1" role="dialog" aria-labelledby="rejectCommentModal"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="rejectCommentModalLabel">Comment</h4>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">
        <span id="comment"></span>
      </div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block extra_js %}
<script>
  $('#submitQuarryModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget)
    const mine_id = button.data('mine-id')
    const modal = $(this)
    modal.find('form').attr('action', `${mine_id}/submit/`)
  })
  $('#rejectCommentModal').on('show.bs.modal', function (event) {
    const button = $(event.relatedTarget)
    const mine_id = button.data('mine-id')
    const modal = $(this)
    $.ajax({
      url: `${mine_id}/get-comment/`,
      success: function (result) {
        modal.find('#comment').text(result)
      }
    });
  })
</script>
{% endblock extra_js %}